<div style="font-size: 18px; color: #356b0c;">
    Cosas de bebé
</div>

<ul class="list-group">

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/AceiteJaloma.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Aceite para bebé 60ml</span> 
                        <span id="description-article" style="font-size: 13px;">Jaloma</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=15.00>$15.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/AceiteMennen.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Aceite para bebé 50ml</span> 
                        <span id="description-article" style="font-size: 13px;">Mennen</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=19.00>$19.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/mamilaChica.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Biberon chico</span> 
                        <span id="description-article" style="font-size: 13px;">Evenfla</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=42.00>$42.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/Mamila.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Biberon grande</span> 
                        <span id="description-article" style="font-size: 13px;">Evenfla</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=46.00>$46.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->
    
     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/ChuponConMiel.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Chupón con miel</span> 
                        <span id="description-article" style="font-size: 13px;">Jaloma</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=55.00>$55.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/chuponBolaGrande.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Chupón con miel bola grande</span> 
                        <span id="description-article" style="font-size: 13px;">Baby petit</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=44.00>$44.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/mamilaSilicon.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Mamila de silicón con 36pz</span> 
                        <span id="description-article" style="font-size: 13px;">Evenfla</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=200.00>$200.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/KitParaBebe.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Rocito de oro</span> 
                        <span id="description-article" style="font-size: 13px;">Baby kit</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=100.00>$100.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/Mennen100.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Talco para bebés 100g</span> 
                        <span id="description-article" style="font-size: 13px;">Mennen</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=28.00>$28.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/CosasPara-bebes/Mennen200.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Talco para bebés 200g</span> 
                        <span id="description-article" style="font-size: 13px;">Mennen</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=48.00>$48.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto-->

    

    <!-- <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/mini-esmeril.jpg" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Miniesmeriladora</span> 
                        <span id="description-article" style="font-size: 13px;">4-1/2 Pulg 900W 1790 Bosch</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=1416.00>$1416.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li> -->


</ul>