<div style="font-size: 18px; color: #356b0c;">
    Ferretería
</div>

<ul class="list-group">

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/AceiteMultiUsos.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Aceite Multiusos 100ml</span> 
                        <span id="description-article" style="font-size: 13px;">Selanusa</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=27.00>$27.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/Agujas.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">10 Paquetes con 25 agujas</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=50.00>$50.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/PuntaBola.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Punta bola tejidos de punto</span> 
                        <span id="description-article" style="font-size: 13px;">Singer</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=27.00>$27.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/BarajaEspañola.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquete de barajas española</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=235.00>$235.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/NaipePlatificado.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Naipe español plastificado</span> 
                        <span id="description-article" style="font-size: 13px;">Poker</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=50.00>$50.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/Bicolor.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Bicolor</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=75.00>$75.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/cintaAislar.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Cinta de aislar 12pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=65.00>$65.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/adaptadorLuz.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Adaptador para luz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=6.00>$6.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/encendedor0.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquete de encendedores</span> 
                        <span id="description-article" style="font-size: 13px;">Ignitus</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=130.00>$130.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/encendedor1.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquetes de encendedores</span> 
                        <span id="description-article" style="font-size: 13px;">Tokai</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=95.00>$95.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/fusibles.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Fusibles con jaladera</span> 
                        <span id="description-article" style="font-size: 13px;">Matrix</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=69.00>$69.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/ladronConCadena.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Socket Ladrón con cadena</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=19.00>$19.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/ladronSinCadena.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Socket Ladrón</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=10.00>$10.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/duracellAA.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor Duracell AA</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=81.50>$81.50 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/DuracellAAA.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor Duracell AAA</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=88.00>$88.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/pilasEcono.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Caja de Pila Económica AA o AAA 24pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=45.00>$45.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/panasonicAA.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor Panasonic AA</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=65.00>$65.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza el producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/panasonicAAA.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor Panasonic AAA</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=65.00>$65.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

     <!-- aqui empieza el producto -->
     <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/PortaLampara.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Portalámpara Sencillo</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=8.00>$8.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->


    <!-- <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/mini-esmeril.jpg" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Miniesmeriladora</span> 
                        <span id="description-article" style="font-size: 13px;">4-1/2 Pulg 900W 1790 Bosch</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=1416.00>$1416.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li> -->


</ul>