<div style="font-size: 18px; color: #356b0c;">
    Higiene personal
</div>

<ul class="list-group">

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Pomada.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Pomada para labios 60pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=150.00>$150.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/oralB.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Megapack Oral B</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=68.00>$68.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/cepillos.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Caja con 6 cepillos Colgate</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=60.00>$60.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/kiuts.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Kiuts</span> 
                        <span id="description-article" style="font-size: 13px;">Jaloma</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=43.00>$43.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/gel.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Caja Gel eGo 12 tarros</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=135.00>$135.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/desodorante0.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Desodorante Lady Speed Stick</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=70.00>$70.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/desodorante1.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Desodorante Speed Stick</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=70.00>$70.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/dorco.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Navaja Para Afeitar Dorco</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=140.00>$140.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/gillette.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Navaja Para Afeitar Gillette</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=140.00>$140.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/superMax.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Super max platinum 200pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=175.00>$175.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/kleenex.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Pañuelos kleenex</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=30.00>$30.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/pasadores.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Pasadores finos 12 cajitas</span> 
                        <span id="description-article" style="font-size: 13px;">35pz c/u</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=140.00>$140.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->


    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Colgate.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquete de pasta de dientes Colgate</span> 
                        <span id="description-article" style="font-size: 13px;">75ml</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=165.00>$165.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/caspero.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">12 peines casperos</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=48.00>$48.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/PomadaDeLaCampana.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Pomada de la campana 20pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=205.00>$205.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Bigben.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Rastrillos Desechables Bigben 48pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=145.00>$145.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/safari1.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Rastrillos Desechables Safari 24pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=120.00>$120.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Safari.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Rastrillos Desechables Safari G3 48pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=95.00>$95.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/HeadShouder0.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquete de shampoos Head & Shoulders</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=70.00>$70.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Pantene0.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Paquete de shampoos Pantene</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=70.00>$70.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/HeadShoulder.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor de shampoos Head & Shoulders </span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=51.00>$51.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Pantene.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor de shampoos Pantene</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=51.00>$51.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Sedal.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor de shampoos Sedal </span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=33.00>$33.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/Higiene-personal/Palmolive.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Exhibidor de shampoos Palmolive</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=51.00>$51.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->





    <!-- <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/ferreteria/mini-esmeril.jpg" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Miniesmeriladora</span> 
                        <span id="description-article" style="font-size: 13px;">4-1/2 Pulg 900W 1790 Bosch</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=1416.00>$1416.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li> -->

</ul>