 <!-- Modal DATOS DE ENTREGA-->
    <div class="modal fade" id="mayorista-confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">INICIA COMO MAYORISTA</h5>
                </div>
                <div class="modal-body"> 
    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group" style="width: 95%; margin: auto; margin-top: 15px;">
                                <span class="input-group-addon" id="basic-addon1">Teléfono</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" id="tel" value="">
                            </div>

                            <div class="input-group" style="width: 95%; margin: auto; margin-top: 15px;">
                                <span class="input-group-addon" id="basic-addon1">Contraseña</span>
                                <input type="password" class="form-control" placeholder="" aria-describedby="basic-addon1" id="pass" value="">
                            </div>

                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="">Salir</button>
                        <button type="button" class="btn btn-primary" id="">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>