<div class="bs-example" data-example-id="thumbnails-with-custom-content" id="fila-1" style="overflow-x: scroll; width: 100%;"> 
    <table class="item-table"> 
        <tr></tr>
    </table>
</div>


<div class="bs-example" data-example-id="thumbnails-with-custom-content" id="fila-2" style="overflow-x: scroll; width: 100%;"> 
    <table class="item-table"> 
        <tr></tr>
    </table>
</div>


<div class="bs-example" data-example-id="thumbnails-with-custom-content" id="fila-3" style="overflow-x: scroll; width: 100%;"> 
    <table class="item-table"> 
        <tr></tr>
    </table>
</div>