<div style="font-size: 18px; color: #356b0c;">
    Papelería
</div>

<ul class="list-group">

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/BolsaDeGlobos.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Bolsa de globos </span> 
                        <span id="description-article" style="font-size: 13px;">Pikolo</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="39.00">$39.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/KolalocaGotero.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Kola Loka gotero 10pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="132.00">$132.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/KolalocaAplicador.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Kola Loka Aplicador de precisión 10pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="185.00">$185.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/KolalocaBro.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Kola Loka brocha 8pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="163.00">$163.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/Plastiloka.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Plasti Loka 10pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="187.00">$187.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/Sacapuntas.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Sacapuntas de plástico 25pz</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="25.00">$25.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->

    <!-- aqui empieza un producto -->
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/Lapiz.png" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">Caja de lápiz 2/HB</span> 
                        <span id="description-article" style="font-size: 13px;"></span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="150.00">$150.00 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <!-- aqui termina el producto -->



    <!-- <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/cartulina.jpg" data-holder-rendered="true"> 
                
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">CARTULINA FACIA</span> 
                        <span id="description-article" style="font-size: 13px;">NEON MIX CARTA 5 COLORES C/100H</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=131.50>$131.50 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li> -->
</ul>