<div class="row">
	<div class="col-sm-12"></div>
	<div class="col-sm-12">
		<div class="panel panel-success">
			<div class="panel panel-heading" style="text-align:center">Datos Personales</div>
			<div class="panel panel-body">
				<form id="frmRegistro">
					<label>Nombre completo</label>
					<input type="text" class="form-control input-sm" id="nombre" name="">
					<label>Correo</label>
					<input type="text" class="form-control input-sm" id="email" name="">
					<label>Calle y número</label>
					<input type="text" class="form-control input-sm" id="calle_numero" name="">
					<label>Colonia</label>
					<input type="text" class="form-control input-sm" id="colonia" name="">
					<!--<label>Usuario</label>
					<input type="text" class="form-control input-sm" id="usuario" name="">-->
					<label>Teléfono</label>
					<input type="text" class="form-control input-sm" id="telefono" name="">
					<label>Contraseña</label>
					<input type="password" class="form-control input-sm" id="password" name="">
					<p></p>
				</form>

				<div class="row" style="width: 90%; margin: auto;">

					<div class="col-6">
						<div class="btn btn-primary" id="registrarNuevo" style="float: right;font-size: 16px;">Registrar</div>
					</div>

					<div class="col-6">
						<div id="button-volver-registro" class="btn btn-default" style="font-size: 16px;">Regresar</div>
					</div>

				</div>
				
			</div>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#registrarNuevo').click(function(){

			if($('#frmRegistro #nombre').val()==""){
				alert("Ingrese nombre completo");
				return false;
			}else if($('#frmRegistro #telefono').val()==""){
				alert("Ingrese telefono");
				return false;
			}else if($('#frmRegistro #email').val()==""){
				alert("Ingrese correo");
				return false;
			}else if($('#frmRegistro #calle_numero').val()==""){
				alert("Ingrese calle y numero ext");
				return false;
			}else if($('#frmRegistro #colonia').val()==""){
				alert("Ingrese colonia");
				return false;
			/*}else if($('#usuario').val()==""){
				alertify.alert("Ingresa el usuario");
				return false;*/
			}else if($('#frmRegistro #password').val()==""){
				alert("Ingresa el password");
				return false;
			}

			$("#loadingModal").modal({ backdrop: 'static', keyboard: false, show: true });

			let data = {
		        nombre: $('#frmRegistro #nombre').val(),
		        telefono: $('#frmRegistro #telefono').val(),
		        email: $('#frmRegistro #email').val(),
		        calleNumero: $('#frmRegistro #calle_numero').val(),
		        colonia: $('#frmRegistro #colonia').val(),
		        usuario: $('#frmRegistro #telefono').val(),
		        password: $('#frmRegistro #password').val()
		    }

			$.ajax({
				type:"POST",
		        url:"servicios/CRUD/registro.php",
		        data:data,
		        dataType:"json",
				success:function(response){
					if(response.success == 1){
						sessionStorage.setItem('usuario', data.telefono);
						$('#formaPago-Modal').modal({ backdrop: 'static', keyboard: false, show: true });
						$("#registerModal").modal("hide");
						obtener_datos_entrega();
					}else{
						alert("Ocurrió un problema, intentelo más tarde.");
					}
				}
			});
			$("#loadingModal").modal("hide");
		});
	});
</script>

