<div style="font-size: 18px; color: #356b0c;">
    Zona de oportunidades
</div>

<ul class="list-group">
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                <a href="#"> 
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/papel-carta.jpeg" data-holder-rendered="true"> 
                </a> 
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">PAPEL OFIX</span> 
                        <span id="description-article" style="font-size: 13px;">MULTIFUNCIONAL ECO CARTA BLANCO 37K C/500HJS</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price="65.90">$65.90 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
    <li id="li-article" class="list-group-item">
        <div class="media"> 
            <div class="media-left"> 
                <a href="#"> 
                    <img id="img-article" alt="112x150" class="media-object" style="width: 112px; height: 100px;" src="img/articulos/papeleria/cartulina.jpg" data-holder-rendered="true"> 
                </a> 
            </div> 
            <div class="media-body"> 
                <div>
                    <h4 class="media-heading">
                        <span id="title-article" style="font-weight: bold;">CARTULINA FACIA</span> 
                        <span id="description-article" style="font-size: 13px;">NEON MIX CARTA 5 COLORES C/100H</span> 
                    </h4> 
                    <div id="price-article" class="color-blue" data-price=131.50>$131.50 </div> 
                    <p style="color: #bd71d0;" id="existencias" class="margin-top-0 color-blue" data-existencias="200">200 en existencia</p>
                    <div id="total-price-article" class="color-blue"></div> 
                </div>
            </div>
        </div>

        <div id="container-cantidad" class="input-group" style="max-width: 240px; margin-top:10px;">
            <div class="input-group-btn">
                <div id="article-menos" class="btn btn-primary button-add" role="button" style="width: 100%;"> - </div>
            </div>
            <input type="text" id="input-cantidad" class="form-control" value="1" disabled>
            <div class="input-group-btn">
                <div id="article-mas" class="btn btn-primary button-add" role="button" style="width: 100%;"> + </div>
            </div>

            <div class="input-group-btn">
                <div id="add-article" class="btn btn-primary button-add" role="button" style="width: 100%; margin-left: 20px;">AGREGAR</div>
                <div id="remove-article" class="btn btn-danger hidden" role="button" style="width: 100%; margin-left: 20px;">QUITAR</div>
            </div>
        </div>       
    </li>
</ul>